<form [formGroup]="productForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="productForm.controls.name.hasError('alphaNum')">
      Nur Alphanumerische Werte erlaubt
    </mat-error>
    <mat-error *ngIf="productForm.controls.name.hasError('required')">
      Das ist ein Pflichtfeld!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Preis</mat-label>
    <input matInput formControlName="price" type="number" />
    <mat-error *ngIf="productForm.controls.price.hasError('required')">
      Das ist ein Pflichtfeld!
    </mat-error>
    <mat-error *ngIf="productForm.controls.price.hasError('positiv')">
      Der Preis muss größer als 0 sein!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gewicht</mat-label>
    <input matInput formControlName="weight" type="number" />
    <mat-error *ngIf="productForm.controls.weight.hasError('required')">
      Das ist ein Pflichtfeld!
    </mat-error>
  </mat-form-field>

  <button
    [disabled]="productForm.invalid"
    color="accent"
    mat-raised-button
    (click)="save()"
  >
    Speichern
  </button>
</form>
