<div class="border" [ngStyle]="styleConfig"
     [ngClass]="{'border-green': product.price < 50}">
  <ul>
    <li>ID: {{ product.id }}</li>
    <li id="name">Name: {{ product.name }}</li>
    @if (showPrice) {
      <li> Preis: {{ product.price | currency: '€' }}</li>
    }
    <li>Gewicht: {{ product.weight }}</li>
  </ul>
  <ng-content/>
  <button mat-raised-button (click)="togglePrice()">Preis ein-/ausblenden</button>
  <button mat-raised-button (click)="increasePrice()">Preis erhöhen</button>
  <br/>
    <mat-form-field>
      <input matInput type="number" #price>
    </mat-form-field>
  <button mat-raised-button (click)="changePrice(price.valueAsNumber)"> Preis ändern</button>
  <br/>
</div>
